@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.resume-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: .25rem;
}

@media (min-width: 640px) {
  .resume-grid {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: .5rem;
  }
}